@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*Data picker urls*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<div class="container col-md-8 col-md-offset-2">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">Reporting</h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Report" asp-action="Index" method="post">
                <div class="row">
                    <label class="col-md-2">Start date:</label>
                    <div class="col-md-2 date">
                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="startDate" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <label class="col-md-1">End date:</label>
                    <div class="col-md-2 date">
                        <div class="input-group input-append date" id="datePicker2">
                            <input type="text" class="form-control" name="endDate" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <label class="col-md-1">Currency:</label>
                    <div class="col-md-2">
                        <select class="form-control" id="Currency" name="currencyId">
                            @foreach (var currency in ViewBag.Currencies)
                            {
                                <option value="@currency.Id">@currency.Abbreviation</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Display</button>
                </div>
                @if (ViewBag.HasRangeError)
                {
                    <h4 class="text-center" style="color: red">The range must not exceed 30 days!</h4>
                }
            </form>
        </div>
        <div>
            @{ 
                
            }
        </div>
        <div class="panel-body">
            @if (ViewBag.Transactions != null)
            {
                @if (ViewBag.Transactions.Count == 0)
                {
                    <div class="card">
                        <h4 class="text-center">There are no transactions!</h4>
                    </div>
                }
                else
                {
                    @foreach (var transaction in ViewBag.Transactions)
                    {
                        <div class="card">
                            <div class="col-md-1">
                                @transaction.Date.ToShortDateString()
                            </div>
                            <div class="col-md-7 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-12">@transaction.Categories</div>
                                    @if (transaction.Description != null)
                                    {
                                        <div class="col-md-12">@transaction.Description</div>
                                    }
                                </div>
                            </div>

                            <div class="col-md-2 @ViewBag.CurrentCurrency">
                                @{
                                    var amount = transaction.Amount;
                                    var currencyName = ViewBag.Currencies[transaction.CurrencyId - 1].Abbreviation;
                                    var amountAndCurrency = string.Format("{0:N2}", amount) + " " + currencyName;
                                }
                                @amountAndCurrency
                            </div>
                            <div class="col-md-1">
                                <form asp-controller="Transactions" asp-action="Remove" method="post">
                                    <input name="id" type="hidden" value="@transaction.Id" />
                                    <input name="fromAnotherPage" type="hidden" value="1" />
                                    <button type="submit">
                                        X
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datePicker')
            .datepicker({
                format: 'mm/dd/yyyy'
            })
            .on('changeDate', function (e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });

        $('#eventForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'The name is required'
                        }
                    }
                },
                date: {
                    validators: {
                        notEmpty: {
                            message: 'The date is required'
                        },
                        date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'
                        }
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        $('#datePicker2')
            .datepicker({
                format: 'mm/dd/yyyy'
            })
            .on('changeDate', function (e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });

        $('#eventForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'The name is required'
                        }
                    }
                },
                date: {
                    validators: {
                        notEmpty: {
                            message: 'The date is required'
                        },
                        date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'
                        }
                    }
                }
            }
        });
    });
</script>
