@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CashControl.Models.Transactions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
        .row {
            position: relative;
        }

        .hover-btn {
            position: absolute;
            right: 15px;
            display: none;
        }

        .row:hover .hover-btn {
            display: block;
        }
    </style>
</head>
<body>
    
    <script type="text/javascript">
        $('#CategorySelect').selectpicker();
    </script>

<div class="col-md-6 col-md-offset-3">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transactions</h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Transactions" asp-action="Add" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="CategorySelect">Category</label>
                        <select class="form-control selectpicker" id="CategorySelect" name="Categories" multiple data-live-search="true">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Name">@category.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Categories" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Currency">Currency</label>
                        <select class="form-control" id="Currency" name="CurrencyId">
                            @foreach (var currency in ViewBag.Currencies)
                            {
                                <option value="@currency.Id">@currency.Abbreviation</option>
                            }
                        </select>
                        <span asp-validation-for="CurrencyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount</label>
                        <input class="form-control" id="Amount" name="Amount"/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input class="form-control" type="text" id="Description" name="Description"/>
                    </div>
                    <div class="form-group">
                        <label for="TransactionType">Transaction type</label>
                        <select class="form-control" id="TransactionType" name="TransactionTypeId">
                            @foreach (var transactionType in ViewBag.TransactionTypes)
                            {
                                <option value="@transactionType.Id">@transactionType.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Add Transaction</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6 col-md-offset-3" style="margin-top: 50px">
<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Transaction for today</h3>
    </div>
    <div class="panel-body">
        @foreach (var transaction in ViewBag.Transactions)
        {
            <div class="card">
                <div class="col-md-9">@transaction.Categories</div>
                <div class="col-md-2">
                    @{
                        var amount = transaction.Amount;
                        var currencyName = ViewBag.Currencies[transaction.CurrencyId - 1].Abbreviation;
                        var amountAndCurrency = amount.ToString("2") + " " + currencyName;
                    }
                    @amountAndCurrency
                </div>
                <div class="col-md-1">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            </div>

        }
    </div>
</div>
</div>
</body>





    
