@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CashControl.Models.Transactions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="col-md-6  col-md-offset-3">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transactions</h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Transactions" asp-action="Add" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="CategorySelect">Category</label>
                        <select class="form-control" id="CategorySelect" name="Categories">
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Currency">Currency</label>
                        <select class="form-control" id="Currency" name="CurrencyId">
                            @foreach (var currency in ViewBag.Currencies)
                            {
                                <option value="@currency.Id">@currency.Abbreviation</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount</label>
                        <input class="form-control" id="Amount" name="Amount" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input class="form-control" type="text" id="Description" name="Description" />
                    </div>
                    <div class="form-group">
                        <label for="TransactionType">Transaction type</label>
                        <select class="form-control" id="TransactionType" name="TransactionTypeId">
                            @foreach (var transactionType in ViewBag.TransactionTypes)
                            {
                                <option value="@transactionType.Id">@transactionType.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Add Transaction</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
